<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <section name="MHM.Integration.ServiceBroker" type="MHM.WinFlexOne.Services.Integration.ConfigModel.IntegrationConfigSection, MHM.WinFlexOne.Services.Integration"/>
    <section name="MHM.Integration.ServiceRegistry" type="MHM.WinFlexOne.Services.Integration.ConfigModel.IntegrationConfigSection, MHM.WinFlexOne.Services.Integration"/>
  </configSections>

  <MHM.Integration.ServiceBroker type="MHM.WinFlexOne.Services.Integration.Schema.ServiceBrokerConfig, MHM.WinFlexOne.Services.Integration">
    <ServiceBrokerConfig>
      <Container ID="DynamicProxy">
        <Type>MHM.WinFlexOne.Services.Integration.Containers.ProxyContainer, MHM.WinFlexOne.Services.Integration</Type>
      </Container>

      <FactoryConfig>
        <Factories>
          <Factory ID="InProcessFactory">
            <Type>MHM.WinFlexOne.Services.Integration.Factories.ObjectServiceFactory, MHM.WinFlexOne.Services.Integration</Type>
          </Factory>
          <Factory ID="WcfProxyFactory">
            <Type>MHM.WinFlexOne.Services.Integration.Factories.ServiceProxyFactory, MHM.WinFlexOne.Services.Integration</Type>
          </Factory>
        </Factories>

        <DefaultFactory href="InProcessFactory"/>
      
        <FactoryOverrides>
          <Override>
            <Factory href="WcfProxyFactory"/>
            <ServiceInterface>MHM.WinFlexOne.Services.Integration.Tests.ITestService, MHM.WinFlexOne.Services.Integration.Tests</ServiceInterface>
          </Override>
        </FactoryOverrides>
      </FactoryConfig>
    </ServiceBrokerConfig>
  </MHM.Integration.ServiceBroker>

  <MHM.Integration.ServiceRegistry type="MHM.WinFlexOne.Services.Integration.Schema.ServiceRegistryConfig, MHM.WinFlexOne.Services.Integration">
    <ServiceRegistryConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <ServiceInstances>
        <ServiceInstance xsi:type="ObjectServiceInstanceInfo" Id="InProcessTestService" ServiceDefinition="TestService">
          <ServiceClassName>MHM.WinFlexOne.Services.Integration.Tests.TestService, MHM.WinFlexOne.Services.Integration.Tests</ServiceClassName>
        </ServiceInstance>
      </ServiceInstances>
      
      <ServiceDefinitions>
        <ServiceDefinition Id="TestService">
          <InterfaceType>MHM.WinFlexOne.Services.Integration.Tests.ITestService, MHM.WinFlexOne.Services.Integration.Tests</InterfaceType>
          <ServiceCreationModel>Singleton</ServiceCreationModel>
          <DefaultInstance>TestService</DefaultInstance>
        </ServiceDefinition>
      </ServiceDefinitions>
      
    </ServiceRegistryConfig>
  </MHM.Integration.ServiceRegistry>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
